.contact-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*text-area {
        width: 100px;
        height: 100px;
    }
    */
    label {
        font-weight: bold;
        margin: 20px;
    }
    input, text-area {
        width: 50%;
        height: 20px; 
        margin-left: 10px;
    }
    button {
        padding: 10px;
        width: 100px;
        margin: 20px;
        border-radius: 20px;
    }

}