@use "./../scss/base";
@use './../scss/mixins';

// making use of nesting

body {
    background-color: base.$background-color;
}
.header {
    @include mixins.background_theme(#4f2a5e);
    margin-bottom: 20px;
    animation-name: backgroundChange;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;

    h1 {
        transform: translate(0);
        animation-name: textMovement;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }


    a, h1 {
        color:base.$color-white;
    }
    a {
        text-decoration: none;

        &:hover { // the & presents the a so that we dont write it again-
            text-decoration: underline;
        }
    }
}

// this creates the animation rules
@keyframes backgroundChange {
    from {background: #4f2a5e;}
    to {background: rgb(201, 120, 235);}
}

@keyframes textMovement {
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(100px);
    }
    40%{
        transform: translate(200px);
    }
    60%{
        transform: translate(400px);
    }
    80%{
        transform: translate(400px);
    }
    100%{
        transform: translate(0);
    }
    
}